{% set title = "ots" %}

{% extends "layouts/_layout.html" %}

{% block content %}


	{# CONTENT #}

		<div class="main__front-page container-fluid">

			<div class="app">
				<div class="app__wrap">
					<form class="main-form app__form">
						<!-- item-name -->
						<div class="item-name main-form__name">
							<div class="main-form__group">
								<label class="main-form__group-header" for="main-form-name">Наименование</label>
								<textarea type="email" class="form-control" id="main-form-name"></textarea>
							</div>
						</div>
						<!-- form-price-type -->
						<div class="form-price-type main-form__price-type main-form__group">
							<span class="main-form__group-header">Тип ценового предложения</span>
							<input class="main-form__check" type="radio" name="check-price-type" id="for-lot" value="for-lot" checked>
							<label class="main-form__check-label" for="radio-for-lot">
						    За лот
						  </label>
						  <input class="main-form__check" type="radio" name="check-price-type" id="for-unit" value="for-unit">
						  <label class="main-form__check-label" for="radio-for-unit">
						    За единице продукции
						  </label>
						  checkbox
						</div>
						<!-- form-price -->
						<div class="form-price main-form__price">
							<div class="form-price__nominal main-form__input-group">
								<input type="text" name="">
								<select>select</select>
								check
							</div>
							<div class="form-price__nds main-form__input-group">
								<label>ставка ндс</label>
								<select>
									<option>select</option>
									<option>select1</option>
									<option>select2</option>
								</select>
								<label>Сумма ндс</label>
								<input type="text" name="">
								<label>Цены без ндс</label>
								<input type="text" name="">
							</div>

							<label for="main-form-name">Наименование</label>
							<input type="email" class="form-control" id="main-form-name">
						</div>
						<!-- OKV-OKP -->
						<div class="OKV-OKP main-form__OKV-OKP">
							<div class="OKV-OKP__col-item">
								<h5>№</h5>
								<div class="main-form__group">
									<span>1</span>
								</div>
							</div>
							<div class="OKV-OKP__col-item">
								<h5>Количество</h5>
								<div class="main-form__group">
									<input type="text">
									<input type="text">
								</div>
							</div>
							<div class="OKV-OKP__col-item">
								<h5>ОКВЕД2/ОКПД2</h5>
								<div class="main-form__group">
									<select name="" id=""></select>
									<select name="" id=""></select>
								</div>
							</div>
							<div class="OKV-OKP__col-item">
								<h5>Доп. сведения</h5>
								<div class="main-form__group">
									<textarea>
									</textarea>
								</div>
							</div>
						</div>

					</form>
					<div class="main-table">
						<table>
							<tbody class="main-table__wrap">
								<tr>
									<th>№</th>
									<th>Количество</th>
									<th>ОКВЕД2/ОКПД2</th>
									<th>Доп. сведения</th>
								</tr>
								<tr>
									<td>1</td>
									<td>
										<div class="main-form__group">
											<input type="number" placeholder="Количество *">
										</div>
										<div class="main-form__group">
											<select>
												<option>Kine</option>
												<option>Sirto</option>
											</select>
										</div>
									</td>
									<td>
										<div class="main-form__group">
											<select name="" class="OKV"></select>
										</div>
										<div class="main-form__group">
											<select name="" class="OKP"></select>
										</div>
									</td>
									<td>
										<div class="main-form__group">
											<textarea class="scrollbar-light" rows="3">После промисификации использование функционала зачастую становится гораздо удобнее.

												В качестве примера сделаем такую обёртку для запросов при помощи XMLHttpRequest.

												Функция httpGet(url) будет возвращать промис, который при успешной загрузке данных с url будет переходить в fulfilled с этими данными, а при ошибке – в rejected с информацией об ошибке:</textarea>

										</div>
									</td>
								</tr>
								<tr>
									<td>2</td>
									<td>
										<div class="main-form__group">
											<input type="number" placeholder="Количество *">
										</div>
										<div class="main-form__group">
											<select>
												<option>Kine</option>
												<option>Sirto</option>
											</select>
										</div>
									</td>
									<td>
										<div class="main-form__group">
											<select name="" class="OKV"></select>
										</div>
										<div class="main-form__group">
											<select name="" class="OKP"></select>
										</div>
									</td>
									<td>
										<div class="main-form__group">
											<div class="">
												<textarea class="scrollbar-light" rows="4">функционала зачастую становится гораздо удобнее.	В качестве примера сделаем такую обёртку для запросов при помощи XMLHttpRequest. Функция httpGet(url) будет возвращать промис, который при успешной загрузке данных с url будет переходить в fulfilled с этими данными, а при ошибке – в rejected с информацией об ошибке:</textarea>
											</div>
										</div>
									</td>
								</tr>
							</tbody>

						</table>
					</div>

				</div>
			</div>

		</div>

	{# CONTENT #}


{% endblock %}


